In [4]:
import pandas as pd
import numpy as np

sales_df = pd.read_csv("advertising_and_sales_clean.csv")


sales_df.head(5)

        tv     radio  social_media influencer      sales
0  16000.0   6566.23       2907.98       Mega   54732.76
1  13000.0   9237.76       2409.57       Mega   46677.90
2  41000.0  15886.45       2913.41       Mega  150177.83
3  83000.0  30020.03       6922.30       Mega  298246.34
4  15000.0   8437.41       1406.00      Micro   56594.18

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X = sales_df.drop(["sales","influencer"], axis=1).values
y = sales_df["sales"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

reg = LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

print("Predições: {}, Valores Atuais: {}".format(y_pred[:3],y_test[:3]))

Predições: [ 53176.66154234  70996.19873235 267032.64132081], Valores Atuais: [ 55261.28  67574.9  272250.11]

# Desempenho da Regressão 
    - descobrir o quanto as features explicam a variância dos valores-alvo
    - avaliar a capacidade do modelo de fazer previsões em dados não vistos

In [14]:
from sklearn.metrics import mean_squared_error

r_squared = reg.score(X_test, y_test)



mse= mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("R^2: {}".format(mse))
print("RMSE: {}".format(rmse))

R^2: 8669686.866907291
RMSE: 2944.4331996001015